<!DOCTYPE html>
<html>
<head>
	<title>New Collections</title>
	<link rel="stylesheet" type="text/css" href="../css/collections.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
	<style type="text/css">
		input{
         color:green;
         
		}
		#search-container > form> input{
			color: red;
		 
		}

	</style>
</head>
<body>
	<!-- nav -->
	<div>
		<nav class="nav-bar">
		<ul>
			<li class="li1 fas fa-arrow-left"></li>
			<li class="fas fa-tag">Sc</li>
			<li>ShopeCode</li>
			<!-- <li class="li2"><input type="text" name="search" placeholder=" search" ></li>
			<button type="submit"><i class="fa fa-search"></i></button> -->
			 
               <li class="li2 search-container" id ="search-container">
                <form action="#">
			      <input type="text" placeholder="search..." name="search">
			      <li class="search-btn fa fa-search"></li>
                </form>
               </li>
 		    <li class="li3 fas fa-heart"></li>
 		    <li class="li4 fas fa-shopping-cart"></li>
 		    <li class="li5 fas fa-user-check"></li>
	   </ul>
		</nav>
		
	</div>

	<!-- body -->
	<div class="mainGrid">
		    <div class="filters">
		    	<div class="sort fas fa-sort-amount-down"> Sort </div>
			    <div class="filter fas fa-angle-double-down"> Filter</div>
		    </div>
			
	 <div class="contentGrid">

	  <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/shirt1.jpeg"  width="100%" height="50%">
			</div>
           
            	<div class="productsName">
				<span>Purest Cotton</span>
			</div>

			<div class="productsDescription">
				<span> Men shirt pure cotton by Purestar</span>

			</div>

			<div class="productPrice">
					<span> Rs 999</span>
					<span > Rs 1500</span>
					<span>60% off</span>
            </div>
			
	  </div>

	   <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/tshirt2.jpeg" width="100%" height="50%">
				
			</div>

			<div class="productsName">
				<span>TK cotton Clothing</span>
			</div>

			<div class="productsDescription">
				<span> Men Evening tshirt fit</span>

			</div>

			<div class="productPrice">
					<span > Rs 799</span>
					<span > Rs 1000</span>
					<span>40% off</span>
				
			</div>
	   </div>

	     <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/shirt1.jpeg"  width="100%" height="50%">
			</div>
           
            	<div class="productsName">
				<span>Purest Cotton</span>
			</div>

			<div class="productsDescription">
				<span> Men shirt pure cotton by Purestar</span>

			</div>

			<div class="productPrice">
					<span> Rs 999</span>
					<span > Rs 1500</span>
					<span>60% off</span>
            </div>
			
	  </div>

	   <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/tshirt2.jpeg" width="100%" height="50%">
				
			</div>

			<div class="productsName">
				<span>TK cotton Clothing</span>
			</div>

			<div class="productsDescription">
				<span> Men Evening tshirt fit</span>

			</div>

			<div class="productPrice">
					<span > Rs 799</span>
					<span > Rs 1000</span>
					<span>40% off</span>
				
			</div>
	   </div>
	    <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/shirt1.jpeg"  width="100%" height="50%">
			</div>
           
            	<div class="productsName">
				<span>Purest Cotton</span>
			</div>

			<div class="productsDescription">
				<span> Men shirt pure cotton by Purestar</span>

			</div>

			<div class="productPrice">
					<span> Rs 999</span>
					<span > Rs 1500</span>
					<span>60% off</span>
            </div>
			
	  </div>

	   <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/tshirt2.jpeg" width="100%" height="50%">
				
			</div>

			<div class="productsName">
				<span>TK cotton Clothing</span>
			</div>

			<div class="productsDescription">
				<span> Men Evening tshirt fit</span>

			</div>

			<div class="productPrice">
					<span > Rs 799</span>
					<span > Rs 1000</span>
					<span>40% off</span>
				
			</div>
	   </div>
	    <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/shirt1.jpeg"  width="100%" height="50%">
			</div>
           
            	<div class="productsName">
				<span>Purest Cotton</span>
			</div>

			<div class="productsDescription">
				<span> Men shirt pure cotton by Purestar</span>

			</div>

			<div class="productPrice">
					<span> Rs 999</span>
					<span > Rs 1500</span>
					<span>60% off</span>
            </div>
			
	  </div>

	   <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/tshirt2.jpeg" width="100%" height="50%">
				
			</div>

			<div class="productsName">
				<span>TK cotton Clothing</span>
			</div>

			<div class="productsDescription">
				<span> Men Evening tshirt fit</span>

			</div>

			<div class="productPrice">
					<span > Rs 799</span>
					<span > Rs 1000</span>
					<span>40% off</span>
				
			</div>
	   </div>

	    <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/shirt1.jpeg"  width="100%" height="50%">
			</div>
           
            	<div class="productsName">
				<span>Purest Cotton</span>
			</div>

			<div class="productsDescription">
				<span> Men shirt pure cotton by Purestar</span>

			</div>

			<div class="productPrice">
					<span> Rs 999</span>
					<span > Rs 1500</span>
					<span>60% off</span>
            </div>
			
	  </div>

	   <div class="contentGrid1">
			<div class="pImage">
				<img src="../imgs/tshirt2.jpeg" width="100%" height="50%">
				
			</div>

			<div class="productsName">
				<span>TK cotton Clothing</span>
			</div>

			<div class="productsDescription">
				<span> Men Evening tshirt fit</span>

			</div>

			<div class="productPrice">
					<span > Rs 799</span>
					<span > Rs 1000</span>
					<span>40% off</span>
				
			</div>
	   </div>


	 </div>
     

	  </div>
		
	
	<!-- footer -->
	<div class="footer">
		<!-- <footer>
			$copy 2019 inc
		</footer> -->
	</div>

</body>
</html>